* {
  font-family: "Poppins", sans-serif;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: #d7cfe0;
  padding: 0 20px;
}
.choose {
  color: white;
}
p {
  color: black;
}
.entire {
  background-color: #8f8f8f;
  max-width: 800px;
  width: 100%;
  justify-self: center;
  border: none;
  border-radius: 15px;
  margin-top: 60px;
  color: white;
  padding: 30px 25px;
  padding-bottom: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);
}
.welcome {
  text-align: center;
  font-size: 20px;
  font-weight: 400px;
}

img {
  width: 70px;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  row-gap: 100px;
  margin-top: 70px;
  /* margin-left: 50px; */
}

a {
  text-decoration: none;
  color: #d7cfe0;
}

.img1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.img2 {
  width: 107px;
}
