* {
  font-family: "Poppins", sans-serif;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: #d7cfe0;
  padding: 0 20px;
}
.choose {
  color: black;
}

p {
  color: black;
}
.entire {
  background-color: #d6d6d6;
  max-width: 800px;
  width: 100%;
  justify-self: center;
  border: none;
  border-radius: 15px;
  margin-top: 60px;
  color: black;
  padding: 30px 25px;
  padding-bottom: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);
}
.welcome {
  text-align: center;
  font-size: 20px;
  font-weight: 400px;
}

img {
  width: 70px;
}
.make {
  margin-bottom: 15px;
}
.josh {
  color: black;
  background: orange;
  padding: 2px 10px;

}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 70px;
  /* margin-left: 50px; */
}

a {
  text-decoration: none;
  color: #d7cfe0;
}

.img1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.img2 {
  width: 107px;
}
@media (max-width: 497px) {
   .make {
    text-align: left;
    line-break: normal;
    font-size: 35px;
   }

   .choose {
    text-align: left;
   }
}

@media (max-width: 446px){
.make {
    text-align: left;
    line-break: normal;
    font-size: 32px;
   }
}
@media (max-width: 430px) {
  .images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    row-gap: 100px;
    margin-top: 70px;
    /* margin-left: 50px; */
  }

  
}
@media (max-width: 415px) {
  .images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    row-gap: 100px;
    margin-top: 70px;
    /* margin-left: 50px; */
  }

  .make {
    font-size: 30px;
    text-align: left;
    line-break: normal;
  }
}
@media (max-width: 395px) {
  .images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    row-gap: 100px;
    margin-top: 70px;
    /* margin-left: 50px; */
  }

  .make {
    font-size: 28px;
    text-align: left;
    line-break: normal;
  }
}
@media (max-width: 374px) {
  .images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    row-gap: 100px;
    margin-top: 70px;
    /* margin-left: 50px; */
  }

  .make {
    font-size: 24px;
    text-align: left;
    line-break: normal;
  }
}
@media (max-width: 333px) {
  .images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    row-gap: 100px;
    margin-top: 70px;
    /* margin-left: 50px; */
  }

  .make {
    font-size: 21px;
    text-align: left;
    line-break: normal;
  }
}

.homebtn {
  background-color: white;
  border: none;
  padding: 20px;
  border-radius: 10px;
}
