* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.cubeSetUp {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #8f8f8f;
  max-width: 500px;
  text-align: left;
  width: 100%;
  row-gap: 20px;
  justify-self: center;
  padding: 20px 30px;
  margin-top: 60px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);
}

.cubeInput {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    max-width: 480;
    width: 100%;
}

.answer {
    margin-top: 20px;
}

.solveBtn {
    background-color: orange;
    width: 100px;
    margin-top: 20px;
    
}