* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.cubeSetUp {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #8f8f8f;
  max-width: 500px;
  text-align: left;
  width: 100%;
  justify-self: center;
  padding: 40px 30px;
  padding-top: 70px;
  margin-top: 60px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);
}

.length {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.cubeInput {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid orange;
    max-width: 480;
    width: 100%;
    font-size: 20px;
}
.cubeInput:hover {
  transform: scale(101%);
}

.answer {
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
}

.solveBtn {
    background-color: orange;
    width: 100px;
    margin-top: 20px;
    
}

.solveBtn:hover {
  background-color: white;
  color: orange;
}

.div {
  margin-top: 20px;
}

#cb {
  margin-top: 20px;
}