.cuboidSetUp {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #8f8f8f;
  max-width: 500px;
  text-align: left;
  width: 100%;
  justify-self: center;
  padding: 40px 30px;
  margin-top: 60px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);
}

.cuboidInput {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid orange;
    max-width: 480;
    width: 100%;
    font-size: 20px;
}