* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.shape {
  color: black;
  margin-top: 20px;
  text-align: center;
}
.volumeContainer {
  background-color: #8f8f8f;
  max-width: 500px;
  width: 100%;
  justify-self: center;
  padding: 20px 30px;
  margin-top: 60px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);
}

.shapeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  row-gap: 50px;
  column-gap: 10px;
  margin-top: 50px;
}

.homebtn1 {
  background-color: white;
  border: none;
  padding: 20px;
  border-radius: 10px;
}
